.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  font-size: 30px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 20px;
}

.button {
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 1200px) {
  .card-body {
    margin-left: 1.2rem;
  }
}
