.div-container {
    width: 100%;
    height: 20vh;
    background-color: #4c6b52;
    display :flex;
    align-items: center;
    justify-content: center;

  }
  .quote{
    font-family: 'Dancing Script', cursive;
      text-transform: capitalize;
      font-size:30px;
      color: white;
  }
  .quote_image{
      margin-bottom: 3rem;
      width:30px ;
      height: auto;
  }
  

  
@media only screen and (max-width: 750px) {
    .quote{
line-height: 2rem;
      }
  }