<div class="model-container">
  <div class="model-text">
    <h1 class="title">Who Are We ?</h1>
    <p>
      We are a team of 3 young entrepreneurs who believed that we can make out
      of our passion a successeful buisness. As the three of us have different
      backgrounds and the adventerous spirit united us to deliver the hiking and
      camping experience for our community by organizing camping & hiking trips
      in our beloved country Tunisia and renting all the needed gear to live
      such experience.
    </p>
  </div>
</div>
